extends layout

block content
  h1 Profile
  span Welcome to your profile, 
  span= user.username
  p
    br
    | Title
    input#title(type='text' name='title')
    br
    | Author
    input#author(type='text' name='author')
    br
    br
    button#addBook(type='submit') Add New Book 
  p
  hr
  p My Books
    ul#bookList
      each book in user.books
        li= '"' + book.title + '" by ' + book.author
  p
    a(href='/logout') Logout
  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src="javascripts/profile.js")

  